streamlit==1.25.0
pandas==1.5.3
numpy>=1.22,<1.24
matplotlib==3.7.1
opencv-python==4.7.0.72
geopandas==0.13.0
shapely==1.8.5.post1
scikit-learn==1.2.2
tensorflow-cpu==2.12.0
torch==2.0.1
folium==0.14.0
plotly==5.14.1
PyPDF2==3.0.1
requests==2.31.0
scipy==1.10.1
seaborn==0.12.2
altair==4.2.2
sqlalchemy==2.0.18
Flask==2.3.2
gunicorn==20.1.0
streamlit-folium
